---
import Card from "../../components/Card.astro";
import CardHome from "../../components/CardHome.astro";
import Layout from "../../layouts/Layout.astro";

interface Posts {
  frontmatter: {
    title: string;
    date: string;
    tags: string[];
    description: string;
  };
  url: string;
}

export async function getStaticPaths() {
  const allPosts = (await Astro.glob("../posts/*.md")) as Posts[];

  const uniqueTags = [
    ...new Set(allPosts.flatMap((post) => post.frontmatter.tags)),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={tag}>
  <main>
    <header>
      <h3>Posts tagged with "{tag}"</h3>
    </header>
    <ul class='list'>
      {
        posts.map((post) => (
          <Card
            title={post.frontmatter.title}
            href={post.url}
            body={post.frontmatter.description}
          />
        ))
      }
      <CardHome />
    </ul>
  </main>
</Layout>
