---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";

interface Posts {
  frontmatter: {
    title: string;
    date: string;
    tags: string[];
    description: string;
  };
  url: string;
}

export async function getStaticPaths() {
  const allPosts = (await Astro.glob("../posts/*.md")) as Posts[];

  return [
    { params: { tag: "astro" }, props: { posts: allPosts } },
    { params: { tag: "successes" }, props: { posts: allPosts } },
    { params: { tag: "community" }, props: { posts: allPosts } },
    { params: { tag: "blogging" }, props: { posts: allPosts } },
    { params: { tag: "setbacks" }, props: { posts: allPosts } },
    { params: { tag: "learning in public" }, props: { posts: allPosts } },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) =>
  post.frontmatter.tags?.includes(tag)
);
---

<Layout title={tag}>
  <main>
    <header>
      <h3>Posts tagged with "{tag}"</h3>
    </header>
    <ul class="list">
      {
        filteredPosts.map((post) => (
          <Card
            title={post.frontmatter.title}
            href={post.url}
            body={post.frontmatter.description}
          />
        ))
      }
    </ul>
  </main>
</Layout>
