---
import dayjs from "dayjs";
import Card from "../components/Card.astro";
import "../styles/global.css";
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <main>
    <article>
      <header>
        <h1>{frontmatter.title}</h1>
        <p>
          Published on: {
            dayjs(frontmatter.pubDate)
              .format("YYYY-MM-DD HH:mm")
          }
        </p>
        <p>Written by {frontmatter.author}</p>
      </header>
      <img class="post-img" src={frontmatter.image.url} alt={frontmatter.image.alt} />
      <slot />
      <hr />
      <Card title='Go back' href='/blog' body='Go back to the blog page' />
    </article>
  </main>
</Layout>
<style>
  header {
    position: sticky;
    top: 0;
  }
  .post-img {
    width: 100%;
    max-width: 600px;
    margin: 1rem 0;
  }
</style>
